<!DOCTYPE html>
<html>
<head>
    <title>IoT Security Dashboard</title>
</head>

<body>

<h1>IoT Blockchain Security System</h1>

<h2>Perception Layer</h2>

<h3>Phase 1 - Device Registration</h3>

<p>
Perception Layer detects devices and registers them before
sending data to the Edge Layer.
</p>

<button onclick="alert('Virtual Device Selected')">
Virtual Device
</button>

<button onclick="alert('Real Arduino Device Selected')">
Real Device
</button>

<h3>Phase 2</h3>

<p>Coming Soon...</p>

<hr>

<h2>Application Layer</h2>

<p>System Monitoring Dashboard (Coming Soon)</p>

</body>
</html>